In [16]:
# 1. run this code to create a DataFrame
import pandas as pd

df = pd.DataFrame({'shop1': range(8), 'shop2': range(10, 50, 5), 'location': ['BER'] * 4 + ['HAM'] * 4}, index=list("ABCDEFGH"))
# 2. Now simplify the following pieces of code
#    so that the result is equivalent
#    - run the code
#    - inspect the result
#    - replace it by a pandas function (one line should be enough)

In [19]:
df

   shop1  shop2 location
A      0     10   Berlin
B      1     15   Berlin
C      2     20   Berlin
D      3     25   Berlin
E      4     30  Hamburg
F      5     35  Hamburg
G      6     40  Hamburg
H      7     45  Hamburg

## 2.1 Replace BER and HAM by Berlin and Hamburg

In [18]:
# 2.1
df2 = df[:]
for i, row in df2.iterrows():
    if row['location'] == 'BER':
        df2.loc[i, 'location'] = 'Berlin'
    if row['location'] == 'HAM':
        df2.loc[i, 'location'] = 'Hamburg'

In [12]:
#df_rename = 
df_replace = df.replace({'BER':'Berlin', 'HAM':'Hamburg'})
df_replace

   shop1  shop2 location
A      0     10   Berlin
B      1     15   Berlin
C      2     20   Berlin
D      3     25   Berlin
E      4     30  Hamburg
F      5     35  Hamburg
G      6     40  Hamburg
H      7     45  Hamburg

## 2.2 Filter for only certain rows

In [ ]:
# 2.2
result = []
for i, row in df.iterrows():
    if row['shop2'] > 20:
        result.append(i)
df.loc[result]

In [ ]:
df[df['shop2']>20]

## 2.3 Calculate values and return them as list

In [ ]:
# 2.3
result = []
for i, row in df.iterrows():
    total =  row['shop1'] + row['shop2']
    result.append(total)
result

In [ ]:
(df['shop1'] + df['shop2']).tolist()

In [ ]:
df.sum(axis=1).values #axis=1 makes the sum go horizontally, .values returns numpy array

## 2.4 Calulate mean from subsets of the dataframe

In [ ]:
# 2.4
subsets = {}
for i, row in df.iterrows():
    if row['location'] not in subsets:
        subsets[row['location']] = []
    subsets[row['location']].append(row['shop1'])
for loc in subsets:
    avg = sum(subsets[loc]) / len(subsets[loc])
    print(loc, avg)

In [ ]:
df.groupby('location')['shop1'].mean()